$primary: #555555;
$secondary: #57b993;
$btn: #57b993;
$text: #b9b9b9;
$white: #ffffff;
$header: #6e6d6d;
$subtile: #8b8b8b;
$danger: #ff5050;
$borderColor: #d9d9d9;
$bg:#fafafa
// $btn: #4a9c7d;
// $btn-light: #e5f4f9;
// $smoke: #aab9bd;
// $smoke-light: #d0dcd8;
// $white: #fbfcfc;
// $body: #5b6772;
// $border: #66746f;
// $light-sky: #eef3f5;
