@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

html {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  list-style: none;
  outline: none;
}
body {
  font-family: Roboto;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
